.THIS .table {
    max-width: 100%;
    width: 100%;
}

.THIS .label-hidden > label {
    display: none;
}

.THIS .paginationFooter {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.THIS .paginationInfo {
    display: flex;
    align-items: center;
}

.THIS .paginationInfoText {
    margin-left: 5px;
}