.tile {
    width: 180px;
    height: 250px;
}

.tile-photo {
    height: 200px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.tile-buttons {
    width: 70%;
    margin: 5px 0;
}

.tile-title {
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}