.THIS.tileButton {
    position: relative;
    width: 180px;
    min-width: 180px;
    padding: 0px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.THIS .tile {
    width: 100%;
}


.THIS .tilePhoto {
    position: relative;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.THIS .name {
    line-height: 1;
}

.THIS .rating {
    position: absolute;
    left: 0;
    top: 0;
}

.THIS .ratingInside {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.THIS .saleIcon {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 32px;
    width: 32px;
}

.THIS .saleIcon img{
    height: 100%;
    width: 100%;
}

.THIS .price {
}

.THIS .discountPrice {
    color: red;
    text-decoration: line-through;
}