.THIS.tileButton {
    position: relative;
    width: 180px;
    min-width: 180px;
    padding: 0px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.THIS .tile {
    width: 100%;
}


.THIS .tilePhoto {
    position: relative;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.THIS .name {
    line-height: 1;
}
